{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shopkart Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/mdb.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/mdb.lite.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/mdb.lite.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styl.css' %}">

</head>
<body>

    {% for i in a %}
        <div class="row my-4">
        <div class="col-md-2">

        </div>
        <div class="col-md-6">
            <center><h3>Order from: {{ i.cust.name }}</h3>
                <h3>Phone number: {{ i.cust.mob }}</h3>
                <h3>Pin: {{ i.cust.pin }}</h3>
            <h3>
                {{ i.cust.address }}
            </h3>

                <h4>{{ i.cust.city }}</h4>
                <h4>{{ i.cust.state }}</h4>
                <a href="{% url 'app:soonn' i.id %}" class="btn btn-dark my-2">Delivered</a>
                </center>
        </div>
        <div class="col-md-3">
            {% for j in i.products.all %}
                <img src="{{ j.img.url }}" width="100px" height="100px">
                <h4>{{ j.name }}</h4>
                <h4>{{ j.price }}</h4>
                <h4>{{ j.brand }}</h4>

                {% endfor %}
        </div>

        </div>
        <h2>Total cash : {{ i.cash }}</h2>
        <hr><hr>
    {% endfor %}

</body>
</html>